<div class="wrapper">
  <mat-card class="card-wrapper">

    <div class="header">
      <mat-card-content> Weather schedule</mat-card-content>
    </div>

    <div class="filter">
      <app-cities-filter (onCityChanged)="getNewCity($event)" (onNotFoundChanged)="changeNotFoundMessage($event)"></app-cities-filter>
    </div>

    <div class="button-group">
      <button mat-raised-button color="primary"
              routerLink="/daily"
              (click)="getTypeValue('daily')"
              [ngClass]="{ disabled : isHourly() || isCity}">
        DAILY
      </button>
      <button mat-raised-button color="primary"
              routerLink="/hourly"
              (click)="getTypeValue('hourly')"
              [ngClass]="{ disabled : isDaily() || isCity}">
        HOURLY
      </button>
    </div>
  </mat-card>

  <div *ngIf="!isCityNotFound">
    <app-hourly-table [hidden]="!isHourly() || !weatherHourly"></app-hourly-table>

    <app-daily-table [hidden]="!isDaily() || !weatherDaily"></app-daily-table>
  </div>

  <mat-error *ngIf="isCityNotFound"> City not found. Try again. </mat-error>
</div>
